.about {
  //   border: 1px dashed black;
  width: 88%;
  padding: 0 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-img {
  //   border: 1px dashed black;

  width: 48%;
  height: 70vh;
  background-size: cover;
  background-position: 92% 0;
}

.about-text-div {
  //   border: 1px dashed black;
  width: 48%;
  font-size: 2rem;
}

.about-text-first-line {
  font-size: 2.5rem;
  margin-bottom: 3%;
}

.about-text {
  margin-bottom: 3%;
}
